@media screen and (max-width: 850px) {

    .nav-link,
    .nav-btn {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .show {
        width: 100%;
        display: block;
        position: absolute;
        top: 110%;
        transition: all 0.5s ease-in-out;
        padding: 1rem 0;
        z-index: 99;
    }

    .show::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(10px);
    }

    .nav-link ul {
        flex-direction: column;
        align-items: center;
    }

    .cta {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .img-grid {
        grid-template-columns: 1fr;
    }

    .img-container:nth-of-type(3) {
        grid-area: 5 / 1 / 6 / 2;
    }

    .img-container:nth-of-type(7) {
        /* grid-area: 13 / 1 / 14 / 2; */
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .hero-section {
        --hero-section-height: 50vh;
    }

    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-content .sub-heading {
        font-size: 1rem;
    }

    .heading h1 {
        font-size: 1.5rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .testimonial-section .heading-center h2 {
        font-size: 2rem;
    }
}